<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaasBox Base URL</key>
	<string>https://backend.yourtake.ca</string>
	<key>BaasBox App Code</key>
	<string>9857312241</string>
</dict>
</plist>
